#formLogin {
    padding: 30px; 
    background-color: white; 
    margin: 0 15%; 
    margin-top: 10rem;
    border-radius: 6px; 
    border: 1px solid #D9D9D9;
}
#formRegister{
    padding: 30px; 
    background-color: white; 
    margin: 0 15%; 
    border-radius: 6px; 
    border: 1px solid #D9D9D9;
}

#formForgotRegister{
    padding: 30px; 
    background-color: white; 
    margin: 0 15%; 
    border-radius: 6px; 
    border: 1px solid #D9D9D9;
}
label {
    font-size: 14px
}

.a {
    margin-top: 5px;
    border-radius: 6px;
}

#signIn {
    color: rgb(255, 255, 255);
    font-size: large;
    width: 100%;
}

#for {
    margin-top: 20px;
}

#register {
    color: rgb(255, 255, 255);
    width: 60%;
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

form {
    padding-bottom: 10px; 
    border-bottom: 1px solid #D9D9D9;
}

.item {
    margin: 0 30%;
    font-size: 150%;
}

input {
    background-color: white;
}

select {
    width: 100%;
    padding: 5px;
    outline: 0;
}

.register{
    background-color: white;
    height: 100vh;
}
.title-register{
    width: 100vw;
}
