#logo {
    height: 380px;
    width: 100%;
    max-width: 500px;
    margin-top: 160px;
}

@media screen and (max-width: 992px){
    #logo {
        width: 100%;
        margin-top: 80px;
    }
    #formLogin {
        margin-top: 20px;
    }
}

.login{
    height: 100vh;
}
